/* COLOR */

#header, #header a, #content a, #footer{ color: #01295e }

#header p, #footer a { color: #6CA197 }
#menu, h2, h3 { color: #6c8373 }
#menu li:hover { color: #FFF; background-color: #6c8373 }
#footer a:hover { color: #FFF; background-color: #6ca197}

/* END COLOR */

body {
 font-family: Georgia, serif;
 font-size: 100%;
}

#wrapper {
 width: 800px;
 margin: 1em auto;
}

#header, #footer {
 padding: 1em;
 border: .1em solid;
 border-top: .2em solid;
 border-bottom: .4em solid;
 text-align: center;
}

#footer a { padding: 1em}


#header h1, #header p { border-right: 2em ridge;}

h1, h2, h3, h4, a {
  font-family: DejaVu Sans, Helvetica, sans-serif;
}

#index a:link { font-weight: bold}
#content a:visited { font-weight: normal}

h3, h4, #content a:link { font-variant: small-caps }

#content { padding: 1em }

h1, h2, #index h3, h4, .description{
 padding: 0;
 margin: 0;
}

#header {
 font-size: 110%;
 letter-spacing: .3em;
}

h1 a { text-decoration: none }

h1 a:hover { text-decoration: underline }

.date {
 float: right;
 font-weight: inherit;
 font-size: .8em;
 text-decoration: inherit;
 color: inherit;
 background-color: inherit;
}

.post_heading  .title{ text-transform: capitalize }


#menu { display: none }

#menu li { display: inline }

#menu ul, #index ul { list-style-type: none }

#menu ul { 
 margin: -2em 1em 1em;
 padding: 0;
 text-align: right;
}

#menu li {
 padding: .3em;
 margin: 0;
}

#index ul {
 padding: .2em;
 margin: 1em;
}

#index li { margin-bottom: .75em }
