<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html>
<head>
  <meta http-equiv="Content-Type" content="text/html;charset=utf-8" >
  <meta name="author" content="{{site.author}}" >
  <meta name="keywords" content="{{site.keywords}}" >
  <meta name="description" content="{{site.description}}" >
  <title>{{site.title}}: {{page.title}}</title>
  <link rel="stylesheet" type="text/css" href="/css/default.css" >
</head>

<body>

<div id="wrapper">

  <div id="header">

    <div class="site_heading">
      
      <h1><a href="/">{{site.title}}</a></h1>
      <p class="description">{{site.description}}</p>

    </div>

  </div>

  <div id="menu">

    {% if site.branches != null %}
      <ul>
      {% for _branch in site.branches %}
        <li><a href="/#{{_branch}}">{{_branch}}</a></li>
      {% endfor %}
      </ul>
    {% endif %}

  </div>

  <div id ="content">

    {{ content }}    
  
  </div>

  <div id="footer">
    <! email !>
    <a href='&#109;&#97;&#105;&#108;&#116;&#111;&#58;&#97;&#110;&#100;&#114;&#101;&#119;&#112;&#101;&#116;&#101;&#114;&#98;&#117;&#114;&#107;&#101;&#43;&#97;&#116;&#103;&#105;&#116;&#104;&#117;&#98;&#64;&#103;&#109;&#97;&#105;&#108;&#46;&#99;&#111;&#109;'>contact me</a>

  </div>

</div>

<!google analytics !>
<script type="text/javascript">

  var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");

  document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));

</script>

<script type="text/javascript">

  try {

    var pageTracker = _gat._getTracker("UA-15928696-1");

    pageTracker._trackPageview();

    } catch(err) {}</script>
</body>
</html>

