---
layout: default
---

<div id="home">
  
  <div id="intro">

    {{content}}

  </div>

  <div id="index">
	
    <! Creates a list of posts for each site section !>
    {% for _branch in site.branches %}
    <a href="/#{{_branch}}"><h2 id="{{_branch}}" class="branch">{{_branch}}</h2></a>
      <ul class="branch_listing">
      {% for _post in site.posts %}
        {% if _post.branch == _branch %}
        <li class="post_heading">
          <a href="{{_post.url}}"><h3 class="title">{{_post.title}}
          <span class="date">{{ _post.date | date_to_string}}</span></h3>
          <p class="description">{{_post.description}}</p></a>
        </li>
        {% endif %}
      {% endfor %}
      </ul>
    {% endfor %}

  </div>

</div>
